* {
  box-sizing: border-box;
}
body {
  font-family: sans;
  background: black;
}
canvas {
  border: 2px solid rgba(227, 242, 253, 1);
  margin: 3rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.05);
  background: gray;
}
